<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet" crossorigin="anonymous"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">

    <link rel="stylesheet" href="/static/stylesheets/index.css">
</head>
<body>
    <!-- Allows for flashed messages to be shown -->
    <div id="error-messages">
        {% for msg in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    </div>

    <div class="page-container">
        <div class="content-container">
            {% if user %}
            <h1>Welcome, {{ user.name }}!</h1>
            {% else %}
            <h1>Welcome to Vacation Finder</h1>
            {% endif %}
        </div>
        <div id="links" class="text-center mt-4">
            {% if user %}
            <a class="btn btn-primary" href="{{url_for('get_profile')}}">View Profile</a>
            <br>
            <a class="btn btn-danger" href="{{url_for('get_logout')}}">Log Out</a>
            <br>
            {% else %}
            <a class="btn btn-success" href="{{url_for('get_login')}}">Log In</a>
            <br>
            <a class="btn btn-info" href="{{url_for('get_signup')}}">Sign Up</a>
            <br>
            {% endif %}
            <a class="btn btn-warning" href="{{url_for('search_flights')}}">Search Flights</a>
            <br>
        </div>
    </div>
</body>
</html>