<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div>
        <h1> {{user.name}} </h1>
        <p> <a href = "{{url_for('get_change_name')}}"> Change Name </a> </p>
    </div>
    <div>
        <p>
            Email: {{user.email}} <a href = "{{url_for('get_change_email')}}"> Change Email </a>
        </p>
        {% if user.premium == "Y" %}
        <p> 
            Premium User <a href = "{{url_for('get_change_premium')}}"> Unsubscribe </a>
        </p>
        {% else %}
        <p>
            Sign Up for Premium <a href = "{{url_for('get_change_premium')}}"> Subscribe </a>
        </p>
        {% endif %}
        <p>
            <a href = "{{url_for('get_change_password')}}"> Change Password </a>
        </p>
        <p>
            <a href = "{{url_for('get_home')}}"> Home </a>
        </p>
    </div>
</body>
</html>